<content>
  <h3>验收资料汇编</h3>
  <ol>
    <li><a href="data/1.pdf">天津职业技术师范大学经济与管理学院实验实训中心管理制度.pdf</a><span class="right">252KB</span></li>
    <li><a href="data/2.pdf">天津职业技术师范大学实践教学场所安全管理规定.pdf</a><span class="right">113KB</span></li>
    <li><a href="data/3.pdf">天津职业技术师范大学实训、实验室规则.pdf</a><span class="right">100KB</span></li>
    <li><a href="data/4.pdf">天津职业技术师范大学实训教学工作规范.pdf</a><span class="right">181KB</span></li>
    <li><a href="data/5.pdf">天津职业技术师范大学实验教学工作规范.pdf</a><span class="right">161KB</span></li>
  </ol>
  <h3>验收报告</h3>
  <ol>
    <li><a href="data/document/1.docx">经济与管理实验实训中心-十三五规划.docx</a><span class="right">26KB</span></li>
    <li><a href="data/document/2.docx">经济与管理实验实训中心-验收报告.docx</a><span class="right">216KB</span></li>
    <li><a href="data/document/3.docx">天津市实验教学示范中心建设单位验收数据报表.docx</a><span class="right">27KB</span></li>
  </ol>
</content>
