<content>
  <h3>基本情况</h3>
  <p>
    天津职业技术师范大学经济与管理学院实验与实训中心成立于2005年，是经济与管理学院下设的二级单位，是为全院师生提供教学和科研服务的实践平台。
  </p>
  <p>
    实验与实训中心位于主教学楼8层，总建筑面积超过2000m2，目前设有6个本科专业实验室、1个研究生专业实验室、1个微格教学室。是集经济与管理类专业理论课教学，实验实训教学，职教师资培训，项目研究与开发，社会服务，技能竞赛于一体的实验实训中心。
  </p>
  <p>
    实验实训中心目前承担1个硕士研究生专业（管理科学与工程）、7个本科专业（电子商务、物流管理、金融学、财务会计教育、劳动与社会保障、人力资源管理、信用管理）的实验、实训教学工作及相关科研任务，同时还承担各种培训、考试、课外实践、创新创业教育等活动。近年来，中心先后为校级大学生创业大赛，ERP企业经营模拟大赛，市场营销大赛等多项比赛提供比赛场地和技术支持等服务。
  </p>
  <img src="images/about0.jpg">

  <h3>师资结构</h3>
  <p>现有专任教师48人，教辅人员15人，外聘教师30人。其中，博士21人，硕士26人，学士1人；具有高级职称的23人，占比约48%。有海外学习或培训经历的教师12人，占比25%。</p>
  <img src="images/about1.jpg">
  <h3>组织结构</h3>
  <p>
    经济与管理学院实验实训中心是实行校、院两级管理的教学部门。实验实训中心由学院直接领导，实行主任负责制，设副主任1名。主任、副主任负责中心的日常运行与管理。
  </p>
  <p>
    学院设有教学指导分委员会。教学指导分委员会由学院领导、各系主任及实验实训中心主任组成，对学院教学工作（包括实验实训教学）进行指导，协调实践教学各环节的组织与实施。
  </p>
  <p>
    实验实训中心在人员、仪器设备、基础设施、教学安排等方面实行集中管理，充分保障了资源共享。在建设和运行经费投入方面，学院对实验实训中心实行各系各专业报计划，学院统筹管理的模式。学院实验实训中心管理体系结构如下图所示。
  </p>
  <img src="images/about2.jpg">
</content>

