 <ol>
    <li>供应链管理实验讲义 ---- 郝海<span class="right">0KB</span></li>
    <li>物流运输管理 ---- 郝海<span class="right">0KB</span></li>
    <li><a href="data/101.zip">物流信息管理实训指导书.zip ---- 付强</a><span class="right">144KB</span></li>
    <li><a href="data/101.zip">物流设施规划实训指导书.zip ---- 付强</a><span class="right">7.3MB</span></li>
    <li><a href="data/103.doc">企业经营模拟课程设计实训指导书.doc ---- 时洪浩</a><span class="right">844MB</span></li>
    <li><a href="data/104.doc">第三方物流课程设计实训指导书.doc ---- 崔晓迪</a><span class="right">344KB</span></li>
  	<li>仓储管理课程设计实训指导书 ---- 侯如静<span class="right">0KB</span></li>
  	<li><a href="data/119.docx">ERP原理及应用课程设计实训指导书.docx ---- 时洪浩</a><span class="right">0KB</span></li>
	<li><a href="data/105.zip">办公软件应用训练.zip ---- 付强</a><span class="right">19.6MB</span></li>
	<li><a href="data/106.zip">金融数据处理方案设计.zip ---- 刘伦斌</a><span class="right">782KB</span></li>
	<li><a href="data/118.doc">金融调查方案设计.doc ---- 刘伦斌</a><span class="right">0KB</span></li>
	<li><a href="data/107.doc">财务管理课程设计.doc ---- 胡娟</a><span class="right">24.3MB</span></li>
	<li>企业税务设计 ---- 林永春<span class="right">0KB</span></li>
	<li><a href="data/108.zip">Spss应用与设计.zip ---- 张旭军</a><span class="right">5.4MB</span></li>
	<li><a href="data/109.rar">工作分析情景模拟.rar ---- 齐旭高</a><span class="right">6.1MB</span></li>
	<li><a href="data/110.rar">绩效管理关键技能开发.rar ---- 曹洁</a><span class="right">475KB</span></li>
	<li>社会保障操作系统应用与设计 ---- 李薇<span class="right">0KB</span></li>
	<li><a href="data/111.doc">电子商务模拟运营设计.doc ---- 郭悦红</a><span class="right">988KB</span></li>
	<li><a href="data/112.rar">网页设计与制作课程设计.rar ---- 董祥和</a><span class="right">11.6MB</span></li>
	<li><a href="data/113.rar">管理信息系统课程设计.rar ---- 李清</a><span class="right">141KB</span></li>
	<li><a href="data/114.doc">市场网络调研课程设计.rar ---- 张波</a><span class="right">1.5MB</span></li>
	<li>信用数据处理方案设计 ---- 雷海波<span class="right">0KB</span></li>
	<li><a href="data/115.doc">初级信用评级设计.doc ---- 高林</a><span class="right">95KB</span></li>
	<li><a href="data/116.doc">中级信用评级设计.doc ---- 高林</a><span class="right">87KB</span></li>
	<li><a href="data/117.doc">企业税务设计.doc</a><span class="right">41KB</span></li>
</ol>
