<div class="menu">
  <div class="container">
    <ul>
      <li><a ui-sref="main" ui-sref-active="active">首页</a></li>
      <li><a ui-sref="hot" ui-sref-active="active">热点问题</a></li>
      <li><a href="/teacher/">随堂资源</a>
      <li><a ui-sref="nav" ui-sref-active="active">站内导航</a></li>
      <li><a ui-sref="about" ui-sref-active="active">中心简介</a></li>
      <li><a ui-sref="check" ui-sref-active="active">验收专栏</a></li>
      <li><a ui-sref="resource" ui-sref-active="active">教学资源</a></li>
      <div class="clear"></div>
    </ul>
  </div>
</div>

